body {
    margin: 0px;
    background-color: #FFF;
}
:root {
    --color-blue: #4387CB; /* var(--color-blue); */
    --color-hover-blue: #4E8BA6; /* var(--color-hover-blue); */
    --color-gray: #868686; /* var(--color-gray); */
}
/* PRINCIPAL */
#principal {
    width: 100%;
}
a {
    color:  var(--color-gray);
}
a:visited {
    color:  var(--color-gray);
}

/* HEADER */
header {
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.containerheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #FFF;
    box-shadow: black 0px 0px 10px;
}
.containerheader .logo {
    width: 50%;
    display: flex;
    align-items: center;
}
.containerheader .logo img{
    width: 200px;
}
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.mm_line {
    height: 3px;
    background-color: #25C5D9;
}
nav ul, 
nav li {
    list-style: none;
    padding: 0;
    margin:0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
nav a:hover {
    background-color: var(--color-hover-blue);
    color: #FFF;
  }
.containerheader .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.containerheader .menu .item {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* BANNER */
.banner {
    width: 80%;
    height: 250px;
    margin-left: 10%;
    background-color: var(--color-blue); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coverbanner {
    display: none;
}
.banner .bannertexto {
    font-size: 38px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.banner .bannerlogo img {
    width: 350px;
    height: 350px;
}

/* VIDEO APRESENTAÇÃO */
.centralizado p {
    margin: 20px;
    font-size: 36px;
}
.videoapresentacao {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 20px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* SOLUÇÕES PRINCIPAL*/
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}
.text h1{
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.text h2 {
    font-size: 24px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    color:  var(--color-gray);
}
.abouttext {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}
.abouttext h1{
    font-size: 28px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
}
.solucoesprincipal .grid .abouttext p {
    font-size: 15px;
    margin-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}
.solucoesprincipal {
    margin-left: 10%;
    width: 80%;
}
.solucoesprincipal p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    text-align: justify;
}
.solucoesprincipal .grid {
    width: 100%;
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
}
.solucoesprincipal .grid .item {
    margin-top: 15px;
    display: flex;
    border: solid black;
    flex-flow: column wrap;
    align-items: center;
    width: 45%;
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0.25rem;
}
.propriedade1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.propriedade2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.propriedade3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.solucoesprincipal .grid .item svg {
    width: 100px;
    height: 100px;
}
.solucoesprincipal .grid .item img {
    width: 100px;
    height: 100px;
}
.solucoesprincipal .grid .item p:hover {
    color: var(--color-hover-blue);
    transition: 0.5s;
}
.solucoesprincipal .grid .item:hover {
    color: var(--color-hover-blue);
    border-color: var(--color-hover-blue);
    transition: 0.3s;
}
.solucoesprincipal .grid .item:hover path{
    fill: var(--color-hover-blue);
    transition: 0.3s;
}
.solucoesprincipal .button {
    width: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.solucoesprincipal .button a{
    display: flex;
    justify-content: center;
    border: 5px solid var(--color-blue);
    padding: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 28px;
    color: black;
    border-radius: 0.25rem;
}
.solucoesprincipal .button a:hover {
    background-color: var(--color-blue);
    padding: 10px;
    color: #FFF;
    transition: 0.3s;
}

/* FOOTER */
.footer {
    background-color: var(--color-blue); 
    font-family: 'Fira Code', monospace;
    font-size: 14px;
}
.footer .containerfooter {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    height: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: black 0px 0px 10px;
}
.footer .logo {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.footer .logo a {
    margin: auto;
    width: 300px;
}
.cls-1,.cls-2 {
    fill:white;
}
.cls-1 {
    fill-rule:evenodd;
}
.footer .menu {
    width: 50%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.footer .menu li{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    font-size: 15px;
    align-items: flex-end;
}
.footer .menu .item {
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.referencias {
    padding-left: 6.5%;
    display: flex;
    justify-content: center;
    color: #FFF;
    margin-left: 0;
    padding-left: 0;

}
.referencias a{
    color: #FFF;
    text-decoration: none;
}
.midias {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.midias svg{
    width: 30px;
    height: 30px;
    margin-right: 18px;
    fill: white;
}
small {
    border-top: solid cadetblue 2px;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (max-width:1100px) {
    .header {
        font-family: 'Fira Code', monospace;
        font-size: 14px;
        width: 80%;
        margin-left: 10%;
    }
    .solucoesprincipal .grid {
        flex-flow: column wrap;
        display: flex;
    }
    .solucoesprincipal .grid .item {
        margin: auto;
        border: solid black;
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 28px;
        margin-top:10px;
        width: 80%;
    }
    .footer .logo a {
        width: 200px;
    }
    small {
        font-size: 12px;
    }
}
@media only screen and (max-width:1000px) {
    .header {
        font-family: 'Fira Code', monospace;
        font-size: 14px;
        width: 80%;
        margin-left: 10%;
    }
    header {
        height: auto;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .coverbanner {
        background-color: chartreuse;
        height: 80px;
        display: block;
    }
    .banner {
        height: 200px;
    }
    .banner .bannerlogo img {
        width: 250px;
        height: 250px;
    }
    .banner .bannertexto {
        padding-left: 10px;
    }
    .solucoesprincipal .grid {
        flex-flow: column wrap;
        display: flex;
    }
    .solucoesprincipal .grid .item {
        margin: auto;
        border: solid black;
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 28px;
        margin-top:10px;
        width: 80%;
    }
    small {
        font-size: 12px;
    }
}
@media only screen and (max-width:650px){
    .banner {
        height: 150px;
        justify-content: center;
    }
    .banner .bannerlogo img {
        display: none;
    }
    .banner .bannertexto {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    .text h1 {
        font-size: 28px ;
        padding-bottom: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text h2 {
        font-size: 26px ;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .solucoesprincipal .grid .item {
        padding: 0;
        width: 100%;
    }
    .solucoesprincipal .grid .item svg {
        width: 80px;
        height: 80px;
    }
    .containerfooter .logo {
        display: none;
    }
    .containerfooter .menu .referencias {
        display: flex;
        justify-content: center;
    }
    .referencias ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
    .video {
        width: 400px;
        height: 230px;
    }
}